---
import '../styles/global.css';

import Block from '../components/Block.astro';
import Button from '../components/Button.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout>
	<Block>
		<Header/>
		<div class="flex items-center justify-center w-full flex-col p-5">
			<div class="sm:flex justify-evenly w-full xxxs:grid xxxs:grid-cols-2 gap-3">
				<Button text="Commissions" link='https://vgen.co/INAKKU' />
				<Button text="TOS" link='https://vgen.co/INAKKU' />
				<Button text="About" link='https://vgen.co/INAKKU' />
				<Button text="Portfolio" link='https://vgen.co/INAKKU' />
			</div>

			<div class="lg:grid lg:grid-cols-4 mt-8 lg:mt-10 gap-3 md:grid md:grid-cols-2">
				<div class="flex flex-col items-center">
					<img src="https://inakku.carrd.co/assets/images/image02.jpg?v=27e83272" alt="" class="rounded-full h-3/5 lg:h-3/7">
					<h1 class="text-3xl lg:text-xl xxxs:mt-3" style="font-family: 'Press Start 2P', cursive;"><span class="xl:text-4xl lg:text-3xl md:text-5xl sm:text-5xl xs:text-5xl xxs:text-4xl xxxs:text-2xl xxxs:-translate-y-2 xxs:translate-y-0" style="display: inline-block;">&#10022;</span> INA <span class="xl:text-4xl lg:text-3xl md:text-5xl sm:text-5xl xs:text-5xl xxs:text-4xl xxxs:text-2xl xxxs:-translate-y-2 xxs:translate-y-0" style="display: inline-block;">&#10022;</span></h1>
					<p class="-mt-1 text-gray-500 text-sm">@Inakku</p>
					<p class="mt-2 text-sm tracking-widest">Digital Ilustrator</p>
					<div class="flex items-center gap-2 mt-4 brightness-50">
						<i class="fab fa-twitter"></i>
						<img src="/assets/VGen.png" alt="VGen" />
						<i class="fas fa-envelope"></i>
					</div>
				</div>
				<img src="https://inakku.carrd.co/assets/images/gallery03/a45a0b64.jpg?v=27e83272" alt="" class="rounded-3xl w-60 xl:h-75 object-cover mt-6 place-self-center lg:h-60">
				<img src="https://inakku.carrd.co/assets/images/gallery03/1ac703d4.jpg?v=27e83272" alt="" class="rounded-3xl w-60 xl:h-75 object-cover mt-6 place-self-center lg:h-60">
				<img src="https://inakku.carrd.co/assets/images/gallery03/8b5ef5b5.jpg?v=27e83272" alt="" class="rounded-3xl w-60 xl:h-75 object-cover mt-6 place-self-center lg:h-60">
			</div>
		</div>

		<div id="container" class="h-full ml-10 mr-10 mb-15 border-b-2 border-dotted border-[#2f2d2e] text-[#918C8F] text-xl">

	</Block>
</Layout>
