---
import '../styles/global.css';
---

<main>
	<div class="xl:w-6xl lg:w-3xl md:w-xl xs:w-xs xxs:w-2xs xxxs:w-3xs h-min bg-[#0D0D0D] text-white rounded-3xl mt-10 mb-10 p-3">
		<slot />
	</div>
</main>