---
import '../styles/global.css';
interface Props {
  text: string;
  link: string;
}

const { text } = Astro.props;
const { link } = Astro.props;
---

<a id="container" href={link}  class="bg-[#19191A] min-w-1/5 h-min pt-3 pb-3 pl-4 pr-4 xs:pl-2 xs:pr-2 xs:pt-2 xs:pb-2 xxs:pl-2 xxs:pr-2 xxs:pt-1 xxs:pb-1 xxxs:pl-2 xxxs:pr-2 xxxs:pt-1 xxxs:pb-1 rounded-2xl text-[#918C8F] lg:text-lg md:text-md sm:text-sm xs:text-xs xxs:text-[0.60rem] xxxs:text-[0.50rem] text-center">
    {text}
</a>