---
import '../styles/global.css';
---

<div id="container" class="h-full ml-10 mr-10 pt-10 mb-8 pb-5 border-b-2 border-dotted border-[#2f2d2e] text-[#918C8F] text-xl">
    <i class="fa-solid fa-house mr-2"></i>
    <i class="fa-solid fa-angle-up mr-2"></i>
    <i class="fa-solid fa-angle-down"></i>
</div>